.logo {
	margin-left: 3%;
	padding: 0.5%;
	border: 5px solid #F8981C;
	width: 20%;
}

.start{
	width: 100%;
}

.footer1 img {
	width: 100%;
	
}

.footer2 img {
	width: 100%;
}

.footer3 img {
	width: 100%;
}
